# Ignore invisible files/folders except .gitignore
.*
!.gitignore

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.4DIndx
*.4DIndy
*.Match
*.journal

#--------------------------------
# Ignore derived data
#--------------------------------
Project/DerivedData/

#--------------------------------
# Ignore logs
#--------------------------------
Logs/

#--------------------------------
# Ignore settings & preferences
#--------------------------------
Preferences/
!4DPop AppMaker.*

Settings/
#!buildApp.4DSettings

userPreferences.*/

#--------------------------------
# Ignore Trash
#--------------------------------
Project/Trash/

Resources/php.ini

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

#--------------------------------
# Added by user
#--------------------------------
Components/
!Build/Components

_gsdata_

Project/Sources/Methods/Method*.4dm
Project/Sources/Methods/00_*.4dm

Libraries/lib4d-arm64.dylib

Resources/response.json
Resources/test

Build/Components/4DPop Git.4dbase/Resources/test
Build/Components/4DPop Git.4dbase/Resources/response.json
Build/Components/4DPop Git.4dbase/Documentation/*.png
_Macros v2
