#--------------------------------
# Ignore invisible files/folders
#--------------------------------
.*
!.git*
.git/

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.journal
*.4DIndx
*.Match

#--------------------------------
# Ignore derived data
#--------------------------------
Project/DerivedData/

#--------------------------------
# Ignore logs
#--------------------------------
Logs/

#--------------------------------
# Ignore settings & preferences
#--------------------------------
userPreferences.*/
Settings/
#!buildApp.4DSettings
Preferences/
!4DPop AppMaker.*

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

#--------------------------------
# Added by user
#--------------------------------
Resources/php.ini
*.bbprojectd/
Project/Trash/

Resources/response.json
Resources/test
Build/Components/4DPop Git.4dbase/Resources/test
Build/Components/4DPop Git.4dbase/Resources/response.json
Build/Components/4DPop Git.4dbase/Resources/php.ini
Build/Components/4DPop Git.4dbase/Documentation/*.png
