<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">  <dict>    <key>NSHumanReadableCopyright</key>    <string>© 2020</string>    <key>CFBundleVersion</key>    <string>14</string>    <key>CFBundleDisplayName</key>    <string>4DPop</string>    <key>CFBundleGetInfoString</key>    <string>4DPop Git</string>    <key>CFBundleLongVersionString</key>    <string>18R3</string>    <key>CFBundleShortVersionString</key>    <string>18R3</string>    <key>CFBundleName</key>    <string>4DPop Git</string>  </dict></plist>