<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

  <dict>
    <key>CFBundleName</key>
    <string>4DPop Git</string>
    <key>CFBundleShortVersionString</key>
    <string>21R5</string>
    <key>CFBundleLongVersionString</key>
    <string>21R5 (195)</string>
    <key>CFBundleGetInfoString</key>
    <string>21R5</string>
    <key>CFBundleDisplayName</key>
    <string>4DPop Git</string>
    <key>CFBundleVersion</key>
    <string>196</string>
    <key>NSHumanReadableCopyright</key>
    <string>©vdl 2020-2026</string>
  </dict>

</plist>
