name: Build
on:
  push:
    paths:
      - '**.4dm'
  pull_request:
    paths:
      - '**.4dm'
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      uses: 4d/build4d-action@main
      with:
        product-line: vcs
        version: main
        build: official
        token: ${{ secrets.DLTK }}
                
      
